body {
    font-family: 'Georgia', 'Times New Roman', serif;
    background: linear-gradient(to bottom, #000, #000);
    margin: 0;
    padding: 0;
    color: #fff;
}
/**/
.header{
    position: relative;
    background-color: #000;
}

.header .navbar {
    position: relative;
    z-index: 10;
}

.header .bg-body-tertiary {
    background-color: #0000 !important;
    border-bottom: 1px solid #fff7;
}

.header .bg-body-tertiary, .navbar, .navbar-expand-lg{
    /*pendiente*/
    color: #fff;
}

.header .navbar .container-fluid .navbar-brand {
    /*este es el boton main o donde ira el logo*/
    background-color: #f2f2f21a;
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.4s;
    border-radius: 0.5rem;
    border-bottom: 1px solid #0000;
    margin-right: 8%;
    margin-left: 2%;
    cursor: pointer;
}

.header .navbar .container-fluid .navbar-brand:hover {
    background-color: #f2f2f2;
    transform: scale(1.1);
    border-bottom: 1px solid #000;
}

.header .navbar .container-fluid .navbar-brand img {
    width: 100%;
    height: 100%;
}

.header .navbar .container-fluid .navbar-brand:hover {
    background-color: #f5dfdf3f;
    transform: scale(1.1);
    border-bottom: 1px solid #000;
}

.header .navbar .navbar-nav{
    /*este es el contenedor del navbar*/
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    z-index: 10;
}

.header .navbar .collapse .navbar-nav .nav-item .nav-link {
    /*estos son los a de la barra de navegación*/
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem;
    font-weight: 500;
    transition: all 0.6s;
    border-radius: 0.5rem;
    border-bottom: 1px solid #0000;

}

.header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    /*estos son los a de la barra de navegación*/
    background-color: #f5dfdf3f;
    transform: scale(1.1);
    border-bottom: 1px solid #fff;
}

.header .navbar .collapse .d-flex .btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.header .navbar .collapse .d-flex .btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(255, 255, 255);
}
/****************************************************************************/
.title {
    text-align: center;
    margin: 2rem 0 4rem 0;
    font-size: 2rem;
    color: #fff;
}
.cargado {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    transition: 3s;
    margin-bottom: 3rem;
}

.cardsmain {
    color: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 0.2rem;
    padding-bottom: 8rem;
    border-bottom: 1px solid #ccc;
    margin-top: 2rem;
}

/* From Uiverse.io by gharsh11032000 */
.cards {
    position: relative;
    width: 22vw;
    height: 27vw;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s;
    cursor: pointer;
}


.cards:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);

}

.cards__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s;
    font-weight: normal;
}

.cards:hover .cards__content {
    transform: rotateX(0deg);
    font-weight: normal;
    background-color: #f2f2f2;
    color: #000;

}

.cards__title {
    font-size: 1.3rem;
    color: #333;
    text-align: center;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards:hover img {
    scale: 0;
    z-index: -1;
}

.cards__description {
    margin: 10px 0;
    font-size: 14px;
    color: #000;
    line-height: 1.4;
}