* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a214d;
    text-align: left;
    background-color: #fff;
}

.header {
    position: relative;
    background-color: #000;
    height: 30vh;
    max-height: 625px;
    box-shadow: 0 0 0.9rem #1a214d;
}

.header .navbar {
    position: relative;
    z-index: 10;
}

.header .bg-body-tertiary {
    background-color: #0000 !important;
    border-bottom: 1px solid #fff7;
}

.header .bg-body-tertiary,
.navbar,
.navbar-expand-lg {
    /*pendiente*/
    color: #fff;
}

.header .navbar .container-fluid .navbar-brand {
    /*este es el boton main o donde ira el logo*/
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.4s;
    border-radius: 0.5rem;
    border-bottom: 1px solid #0000;
    margin-right: 8%;
    margin-left: 2%;
    cursor: pointer;
}

.header .navbar .container-fluid .navbar-brand:hover {
    background-color: #f5dfdf3f;
    transform: scale(1.1);
    border-bottom: 1px solid #000;
}

.header .navbar .container-fluid .navbar-brand img {
    width: 100%;
    height: 100%;
}

.header .navbar .navbar-nav {
    /*este es el contenedor del navbar*/
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    z-index: 10;
}

.header .navbar .collapse .navbar-nav .nav-item .nav-link {
    /*estos son los a de la barra de navegación*/
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem;
    font-weight: 500;
    transition: all 0.6s;
    border-radius: 0.5rem;
    border-bottom: 1px solid #0000;

}

.header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    /*estos son los a de la barra de navegación*/
    background-color: #f5dfdf3f;
    transform: scale(1.1);
    border-bottom: 1px solid #fff;
}

.header .navbar .collapse .d-flex .btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.header .navbar .collapse .d-flex .btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(255, 255, 255);
}


.header .img-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.header .img-header img {
    height: 100%;
    width: 100%;
}

/*******************************************************************************/
main {
    background: linear-gradient(to right, #ccc, #fff,#ccc);
    padding: 4rem 0;
}
.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2rem;
    padding-bottom: 8rem;
    border-bottom: 1px solid #ccc;
    margin: 0 4rem;
    z-index: 14;
}

/* From Uiverse.io by gharsh11032000 */
.card {
    position: relative;
    width: 20rem;
    height: 22rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    font-size: 1.3rem;
    color: #333;
    font-weight: 700;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover img {
    scale: 0;
}

.card__description {
    margin: 10px 0 0;
    font-size: 0.9rem;
    color: #777;
    line-height: 1.4;
}

