* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #1a214d;
}

.header {
    position: relative;
    background-color: #000;
    height: 30vh;
    max-height: 625px;
}

.header .navbar {
    position: relative;
    z-index: 10;
}

.header .bg-body-tertiary {
    background-color: #1111 !important;
    border-bottom: 2px solid #7772;
    box-shadow: 0 0 0.8rem #0003;
}

.header .bg-body-tertiary,
.navbar,
.navbar-expand-lg {
    /*pendiente*/
    color: #fff;
}

.header .navbar .container-fluid .navbar-brand {
    /*este es el boton main o donde ira el logo*/
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.4s;
    border-radius: 0.5rem;
    border-bottom: 1px solid #0000;
    margin-right: 8%;
    margin-left: 2%;
    cursor: pointer;
}

.header .navbar .container-fluid .navbar-brand:hover {
    background-color: #f5dfdf3f;
    transform: scale(1.1);
    border-bottom: 1px solid #000;
}

.header .navbar .container-fluid .navbar-brand img {
    width: 100%;
    height: 100%;
}


.header .navbar .navbar-nav {
    /*este es el contenedor del navbar*/
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    z-index: 10;
}

.header .navbar .collapse .navbar-nav .nav-item .nav-link {
    /*estos son los a de la barra de navegación*/
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.6rem;
    font-weight: 500;
    text-shadow: 0 0 0.25rem #111;
    transition: all 0.6s;
    border-radius: 0.5rem;
    border-bottom: 1px solid #0000;

}

.header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    /*estos son los a de la barra de navegación*/
    background-color: #f5dfdf3f;
    transform: scale(1.1);
    border-bottom: 1px solid #fff;
}

.header .navbar .collapse .d-flex .btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.header .navbar .collapse .d-flex .btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid rgb(255, 255, 255);
}


.header .img-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.header .img-header img {
    height: 100%;
    width: 100%;
    opacity: 1;
}


/****************/
main h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    color: #333;
    line-height: 1.2;
    font-weight: 700;
    text-transform: capitalize;
}


.table {
    display: flex;
    flex-flow: column wrap;
    margin-top: 2rem;
}


table tbody tr th {
    width: 10rem;
    padding: 0.2rem 0.5rem;
}

table tbody tr th:first-child {
    width: 1rem;
}

table tbody tr:hover{
    background-color: #959da031;
}
